body {
  font-family: "Rye";
  margin: 0;
  padding: 0;
  background-image: url(../assets/images/Texturelabs_Fabric_184S.jpg);
}

canvas {
  position: absolute;
}

#startButton {
  background-image: linear-gradient(0deg,rgba(227, 217, 27, 1) 0%, rgba(156, 125, 52, 1) 51%, rgba(227, 217, 27, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #7D349CF6;
  font-family: "Rye";
  display: block;
  position: absolute;
  font-size: 5rem;
  -webkit-text-stroke: 5px transparent;
  background-color: transparent;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#titleCard {
  background-image: linear-gradient(0deg,rgba(227, 217, 27, 1) 0%, rgba(156, 125, 52, 1) 51%, rgba(227, 217, 27, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #7D349CF6;
  position: absolute;
  font-size: 8rem;
  -webkit-text-stroke: 5px transparent;
  text-align: center;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}
